@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 8%;
    --foreground: 217 30% 91%;
    --card: 220 22% 13%;
    --card-foreground: 217 30% 91%;
    --popover: 220 22% 12%;
    --popover-foreground: 217 30% 91%;
    --primary: 213 60% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 20% 18%;
    --secondary-foreground: 214 25% 81%;
    --muted: 220 18% 16%;
    --muted-foreground: 215 15% 59%;
    --accent: 45 65% 48%;
    --accent-foreground: 220 20% 8%;
    --destructive: 348 71% 37%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 18% 16%;
    --input: 220 18% 14%;
    --ring: 213 60% 45%;
    --radius: 0.4rem;
  }

  .dark {
    --background: 220 20% 8%;
    --foreground: 217 30% 91%;
    --card: 220 22% 13%;
    --card-foreground: 217 30% 91%;
    --popover: 220 22% 12%;
    --popover-foreground: 217 30% 91%;
    --primary: 213 60% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 20% 18%;
    --secondary-foreground: 214 25% 81%;
    --muted: 220 18% 16%;
    --muted-foreground: 215 15% 59%;
    --accent: 45 65% 48%;
    --accent-foreground: 220 20% 8%;
    --destructive: 348 71% 37%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 18% 16%;
    --input: 220 18% 14%;
    --ring: 213 60% 45%;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
